<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="shotcut icon" type="image/x-icon" href="../static/favicon.ico">
    <link href="https://fonts.googleapis.com/
    icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR&family=Sofia+Sans+Semi+Condensed&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" type="text/css" href="../static/comingsoon.css">

    <title>WE HATE BROCCOLI</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/06263c1511.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./static/main.js" defer></script>

    <div>
        <nav class="navbar">
            <div class="navbar_logo">
                <i class="fa-solid fa-hippo"></i>
                <a href="/">WE HATE BROCCOLI</a>
            </div>
            <ul class="navbar_menu">
                <li><a href="/">Home</a></li>
                <li><a href="aboutus">ABOUT US</a></li>
                <li><a href="broccoli">Broccoli</a></li>
                <li><a href="faq">FAQ</a></li>
                <li><a href="comingsoon">Coming soon...</a></li>
            </ul>
            <ul class="navbar_icon">
                <li><i class="fa-solid fa-hippo"></i></li>
            </ul>
            <a class="navbar_toggleBtn" href="#">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>
    </div>

</head>

<body>

<div class="comingsoon">
    <h1 class="next">또 뭐가 있을까요?</h1>
    <h7 class="aww">뭔가가 더 있겠죠? <br> 하지만 기대는 하지 말아 주세요😎</h7>
</div>

<div class="alphago">
    <div style="clear: both">
        크큭 이 페이지를 발견하다니... 봤구나 닝겐
    </div>
</div>

<div class="bono1">
    <div style="clear: both">
        <img src="https://velog.velcdn.com/images/liha_engineer/post/eceab987-a864-44a4-938a-45767d763aa6/image.jfif">
    </div>
</div>

<div class="bono2">
    <div style="clear: both">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM3s-yJZAnY2H5ZVgR9F653fFlt89S18SOEg&usqp=CAU">
    </div>
</div>



</body>
</html>